
:root {
    --dark-color: rgb(54, 25, 129);
    --light-color:rgb(176, 47, 188);
    --button-text-color: white;
}


header {
    margin: 2%;
}

/* Styling for navgiation */
header nav {
    display: inline-block;
   
}

/* Styling for "View High Scores Link" */
header nav p {
    color: var(--light-color);
    text-decoration: none;
    font-weight: normal;
}
/* Styling for Timer */
.timer-count {
    float: right;
}


/* Remove bullets from answer button list */
.questions-container ul {
    list-style-type: none;
}

/* Styling display for all main content containers */
.quiz {
    display: flex;
    flex-direction: column;
    margin: 8%;
    margin-left: 20%;
    padding: 2%;
    
}

/* h1 styling which includes quiz title, question prompts, all done title, and highscores title */
h1 {
    font-size: 150%;
    margin: 0.5%;
}

/* Paragraph text styling  */
p {
    margin: 0.5%;
}

/* 
#start-container {
    
} */


/* All buttons styling */
button {
    margin: 0.5%;
    padding: 1%;
    border-radius: 4px;
    background-color: var(--dark-color);
    color: var(--button-text-color);
}

/* start-button styling */
.start-button {
    width: 12%;
}

/* content should appear all in one row */
#done-container div {
    display:flex;
    flex-direction: row;
}

/* All answer choices should have same size despite text length */
.box {
    width: 25%;
    text-align: left;
}

/* Hover over button and color changes */
button:hover{
    background-color: var(--light-color);
}

